<section>
  <p class="text-center"><strong>Leave a reply</strong></p>
  <form method="post" action="{% url 'blog:add_comment' post.slug %}">
    {% csrf_token %}
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input type="text" name="name" id="id_name" class="form-control" required />
      <label class="form-label" for="id_name">Name</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" name="email" id="id_email" class="form-control" required />
      <label class="form-label" for="id_email">Email address</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea class="form-control" name="message" id="id_message" rows="4" required></textarea>
      <label class="form-label" for="id_message">Text</label>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" name="send_copy" value="1" id="form4Example4" checked />
      <label class="form-check-label" for="form4Example4">
        Send me a copy of this comment
      </label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
      Publish
    </button>
  </form>
</section>
