
{% load crispy_forms_tags %}

<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="contactForm">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Result Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">Contact Form Submitted</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Thank you for contacting us. We will get back to you as soon as possible.</p>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // handle form submission
  $('#contactForm').submit(function(event) {
    event.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "blog:contact" %}',
      data: $('#contactForm').serialize(),
      success: function(response) {
        if (response.success) {
          $('#resultMessage').html(response.message);
          $('#resultModal').modal('show');
          $('#contactModal').modal('hide');
          $('#contactForm')[0].reset();
        } else {
          $('#resultMessage').html(response.message);
          $('#resultModal').modal('show');
        }
      },
      error: function(response) {
        $('#resultMessage').html(response.responseJSON.message);
        $('#resultModal').modal('show');
      }
    });
  });

  // handle success modal
  $('#successModal').on('hidden.bs.modal', function () {
    location.reload();
  });
});

</script>
