{% load bootstrap_icons %}
{% load static %}
{% block content %}

{% for post in post_list %}
  <div class="p-5 text-center bg-light">
    <h1 class="mb-0 h4">{{ post.title }}</h1>
  </div>
  <main class="mt-4 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="border-bottom mb-4">
            {% if post.image %}
              <img class="img-fluid shadow-2-strong rounded-5 mb-4" src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <div class="row align-items-center mb-4">
              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                <img src="{{ post.author.avatar }}" class="rounded-5 shadow-1-strong me-2" height="35" alt="Avatar" loading="lazy" />
                <span> Published <u>{{ post.created|date:"F d, Y" }}</u> by</span>
                <a href="" class="text-dark">{{ post.author }}</a>
              </div>
              <div class="col-lg-6 text-center text-lg-end">
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                  <i class="fab fa-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1">
                  <i class="fas fa-comments"></i>
                </button>
              </div>
            </div>
          </div>
          <section>
            <p>{{ post.short_description }}</p>
            {{ post.body|safe }}
          </section>
        </div>
      </div>
    </div>
  </main>
{% endfor %}

      <!-- Pagination links -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
  <div class="pagination justify-content-center mt-3">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-secondary me-2" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <a class="btn btn-outline-primary active me-2" href="?page={{ i }}">{{ i }}</a>
    {% else %}
    <a class="btn btn-outline-primary me-2" href="?page={{ i }}">{{ i }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-secondary ms-2" href="?page={{ page_obj.next_page_number }}">next</a>
  </div>
  {% endif %}
      </ul>
    </nav>

{% endblock %}