{% extends "blog/base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

    <div id="intro" class="p-5 text-center bg-light">
      <h1 class="mb-0 h4">{{ post_detail.title }}</h1>
    </div>
{% csrf_token %}
     <!--Main layout-->
  <main class="mt-4 mb-5">
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Section: Post data-mdb-->
          <section class="border-bottom mb-4">
           {% if post_detail.image %}
           <img class="img-fluid shadow-2-strong rounded-5 mb-4" src="{{ post_detail.image.url }}" alt="{{ post_detail.title }}">
           {% endif %}

            <div class="row align-items-center mb-4">
              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                <img src="{{ post_detail.author.avatar.url }}" class="rounded-5 shadow-1-strong me-2"
                  height="35" alt="" loading="lazy" />
                <span> Published <u>{{ post_detail.created|date:"F d, Y" }}</u> by</span>
                <a href="{% url 'blog:user_detail' username=post_detail.author.username %}" class="text-dark">{{ post_detail.author.username }}</a>
              </div>

              <div class="col-lg-6 text-center text-lg-end">
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                  <i class="fab fa-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1">
                  <i class="fas fa-comments"></i>
                </button>
              </div>
            </div>
          </section>
          <!--Section: Post data-mdb-->

                 <!--Section: Text-->
          <section>
            <p>
                {{ post_detail.short_description }}
            </p>

            <p><strong>{{ post_detail.title }}</strong></p>

            <p>{{ post_detail.body|linebreaks }}
            </p>
          </section>
          <!--Section: Text-->

                <!--Section: Share buttons-->
          <section class="text-center border-top border-bottom py-4 mb-4">
            <p><strong>Share with your friends:</strong></p>

            <button type="button" class="btn btn-primary me-1" style="background-color: #3b5998;">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-primary me-1" style="background-color: #55acee;">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-primary me-1" style="background-color: #0082ca;">
              <i class="fab fa-linkedin"></i>
            </button>
            <button type="button" class="btn btn-primary me-1">
              <i class="fas fa-comments me-2"></i>Add comment
            </button>
          </section>
          <!--Section: Share buttons-->

                <!--Section: Author-->
          <section class="border-bottom mb-4 pb-4">
            <div class="row">
              <div class="col-3">
                <img src="{{ post_detail.author.avatar.url }}" class="img-fluid shadow-1-strong rounded-5" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>{{ post_detail.author }}</strong></p>
                <a href="" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                <p>
                    {{ post_detail.author.biography }}
                </p>
              </div>
            </div>
          </section>
          <!--Section: Author-->



  <div class="container my-2 py-2">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-12">
        <div class="card text-dark">
          <div class="card-body p-4">

            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

            <div class="d-flex flex-start">

              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                height="60" />
              <div>
{% for comment in comments %}
                <h6 class="fw-bold mb-1">{{ comment.user.full_name }}</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    {{ comment.created }}
                    <span class="badge bg-primary">{{ comment.approved }}</span>
                  </p>
                  <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                </div>
                <p class="mb-0">

                    {{ comment.body }}
                    {% endfor %}
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{##}
{#    <div class="card mt-4">#}
{#        <div class="card-header">#}
{#            <h4>Comments ({{ post_detail.comments }})</h4>#}
{#        </div>#}
{#        <div class="card-body">#}
{#            {% for comment in post_detail.comments.all %}#}
{#                <div class="media mb-4">#}
{#             {% if post_detail.author.avatar %}#}
{#            <img class="rounded-circle"#}
{#              src="{{ post_detail.author.avatar.url }}" alt="{{ post_detail.author.username }}"#}
{#              style="width: 45px; height: 45px"#}
{#            />#}
{#            {% endif %}#}
{#                    <div class="media-body">#}
{#                        <h5 class="mt-0">{{ comment.user.get_full_name }}</h5>#}
{#                        <p>{{ comment.body }}</p>#}
{#                        <small class="text-muted">{{ comment.created|date:'F d, Y' }}</small>#}
{#                    </div>#}
{#                </div>#}
{#            {% empty %}#}
{#                <p>There are no comments yet.</p>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}


<!--Section: Reply-->
          <section>
            <p class="text-center"><strong>Leave a reply</strong></p>
            <form>
              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" id="id_name" class="form-control" />
                <label class="form-label" for="id_name">Name</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="id_email" class="form-control" />
                <label class="form-label" for="id_email">Email address</label>
              </div>

              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="id_message" rows="4"></textarea>
                <label class="form-label" for="id_message">Text</label>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
                <label class="form-check-label" for="form4Example4">
                  Send me a copy of this comment
                </label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Publish
              </button>
            </form>
          </section>
          <!--Section: Reply-->
        </div>
        <!--Grid column-->

{% include 'blog/sidebar.html' %}

    <!--Footer-->
  <footer class="bg-light text-lg-start">
    <div class="py-4 text-center">
      <a role="button" class="btn btn-primary btn-lg m-2"
        href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow" target="_blank">
        Learn Bootstrap 5
      </a>
      <a role="button" class="btn btn-primary btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank">
        Download MDB UI KIT
      </a>
    </div>

    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
      <p>Follow MDB on social media</p>
      <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" class="btn btn-primary m-1" role="button"
        rel="nofollow" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </footer>
      </div>
    </div>
  </main>
{% endblock %}