{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}
{% load martortags %}
{% block content %}
{{ field_name|safe_markdown }}

{{ post.description|safe_markdown }}


<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.body.label_tag }}
        {{ form.body }}
    </div>
    <div class="form-group">
        {{ form.tags.label_tag }}
        {{ form.tags }}
    </div>
    <input type="submit" value="Create Post" />
</form>

{% endblock %}
