{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}


{% block content %}
{% csrf_token %}
{% for user in user_list %}
<section class="vh-70" style="background-color: #eee;">
  <div class="container py-5 h-70">
    <div class="row d-flex justify-content-center align-items-center h-70">
      <div class="col-md-12 col-lg-4">
        <div class="card" style="border-radius: 5px;">
          <div class="card-body text-center">
            <div class="mt-4 mb-3">
            {% if user.avatar %}
              <img src="{{ user.avatar.url }}"
                class="rounded-circle img-fluid" style="width: 100px;" />
                {% endif %}
            </div>
            <h4 class="mb-2">{{ user.full_name }}</h4>
            <p class="text-muted mb-4">{{ user.username }} <span class="mx-2">|</span> <a
                href="#!">{{ user.get_absolute_url }}</a></p>
            <div class="mb-4 pb-2">
              <button type="button" class="btn btn-outline-primary btn-floating">
                <i class="fab fa-facebook-f fa-lg"></i>
              </button>
              <button type="button" class="btn btn-outline-primary btn-floating">
                <i class="fab fa-twitter fa-lg"></i>
              </button>
              <button type="button" class="btn btn-outline-primary btn-floating">
                <i class="fab fa-skype fa-lg"></i>
              </button>
            </div>
            <button type="button" class="btn btn-primary btn-rounded btn-lg">
              Message now
            </button>
            <div class="d-flex justify-content-between text-center mt-5 mb-2">
              <div>
                <p class="mb-2 h5">Age</p>
                <p class="text-muted mb-0">{{ user.age }}</p>
              </div>
              <div class="px-3">
                <p class="mb-2 h5">User mobile</p>
                <p class="text-muted mb-0">{{ user.mobile }}</p>
              </div>
              <div>
                <p class="mb-2 h5">Location</p>
                <p class="text-muted mb-0">{{ user.location }}</p>
              </div>
            </div>
          </div>
        </div>
</section>
{% endfor %}
{% endblock %}